<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Add Activity"></Label>
</ActionBar>

<StackLayout class="mt5" >
    <TextField class="form-control" [(ngModel)]="ActivityDescription" hint="Add New Activity..." ></TextField>
    <TextField class="form-control" [(ngModel)]="ActivityCounter" hint="Add Counter"></TextField>

    <DatePicker [year]="currentYear" [month]="currentMonth" [day]="currentDay"
    minDate="1980-01-01" maxDate="2100-12-31"></DatePicker>
    <Button text="Add" (tap)="onActivitySubmit()" class="btn"></Button>
   
    <!-- <Label class="page-placeholder" text="No Item"></Label> -->
</StackLayout>